$color-primary: #103438;
$color-secondary: #ffffff;
$color-tertiary: #ee5851;
$color-button: #fadb3e;
$color-background-button: #aed8d5;

body {
  font-family: Arial;
  color: $color-primary;
}
#container {
  width: 60%;
  margin: auto;
}

h1 {
  font-size: 300%;
}

h1,
h2 {
  color: $color-primary;
  text-transform: uppercase;
  font-weight: 100;
}
h3 {
  justify-content: space-between;
}

aside {
  position: relative;
  img {
    width: 100%;
  }

  .button {
    display: inline-block;
    width: 75px;
    height: 75px;
    background: $color-button;
    border-radius: 50%;
    border: 2px solid $color-button;
    box-sizing: border-box;
    position: absolute;
    top: 95%;
    right: 10%;
    transition: all 0.2s;
  }

  .button::after {
    content: "";
    position: absolute;
    top: 17px;
    left: 25px;
    width: 0;
    height: 0;
    border: 19px solid transparent;
    border-left: 32px solid $color-background-button;
  }

  .button:hover {
    cursor: pointer;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
  }

  .button:active {
    cursor: pointer;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  }
}

.hvr-shadow {
  display: inline-block;
  outline: none;
  width: 100%;
  cursor: pointer;
  border: none;
  color: $color-secondary;
  background-color: $color-tertiary;
  margin: 50px 0px 50px;
  padding: 15px 15px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-shadow:hover,
.hvr-shadow:focus,
.hvr-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 768px) {
  #container {
    width: 90%;
  }
  h1 {
    font-size: 200%;
  }
}
